# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Application Data
config.json
*.db
*.db-journal

# Temporary / Scripts
convert_icon.py

# System
SerializedKeyStore
.DS_Store
Thumbs.db
